<% if (flash && flash.length > 0) { %>
    <div class="space-y-4">
        <% flash.forEach(function(message) { %>
            <div class="px-4 py-3 rounded flex items-center gap-2
                <% if (message.type === 'error') { %>
                    text-red-100 bg-red-700/30
                <% } else if (message.type === 'success') { %>
                    text-green-100 bg-green-700/30
                <% } else if (message.type === 'info') { %>
                    text-yellow-100 bg-yellow-700/30
                <% } %>
            ">
                <% if (message.type === 'error') { %>
                    <i data-feather="alert-circle" class="h-4 w-4"></i>                     
                <% } else if (message.type === 'success') { %>
                    <i data-feather="check" class="h-4 w-4"></i>                     
                <% } else if (message.type === 'info') { %>
                    <i data-feather="info" class="h-4 w-4"></i>                     
                <% } %>
                <%= message.text %>
                <button onclick="this.parentElement.style.display='none'" class="ml-auto text-white rounded px-2 py-1"><i data-feather="x"></i></button>
            </div>
        <% }); %>
    </div>
<% } %>