<div class="my-4 space-x-4">
    <a href="/" class="link">Home</a>
    <a href="/signin" class="link">Sign In</a>
    <a href="/signup" class="link">Sign Up</a>
    <a href="/signout" class="link">Sign Out</a>
</div>