<!-- views/partials/search.ejs -->
<h1>Search Items</h1>
<form class="search-bar" method="get" action="/search">
    <input type="text" name="query" placeholder="Search..." value="<%= query %>">
    <button type="submit">Search</button>
</form>
