<div class="relative w-80 h-64">    

    <h2 class="flex items-center mb-2 text-white">
        <i data-feather="hash" class="mr-2"></i>
        Dedication
    </h2>
    
    <!-- Streak count -->
    <div class="mt-6 h-32 w-32 text-xl flex flex-col justify-center items-center border-4 bg-blue-700/10 border-blue-600 ring-blue-200 rounded-lg text-blue-600 font-medium">
        <i data-feather="zap" class="h-10 w-10 stroke-1"></i>
        3 day
    </div>

    <!-- Days of the week -->
    <div class="flex gap-2 items-center mt-8">
        <div class="w-8 h-8 rounded flex items-center justify-center text-sm bg-blue-600 text-white">S</div>
        <div class="w-8 h-8 rounded flex items-center justify-center text-sm bg-blue-600 text-white">M</div>
        <div class="w-8 h-8 rounded flex items-center justify-center text-sm bg-blue-600 text-white">T</div>
        <div class="w-8 h-8 rounded flex items-center justify-center text-sm bg-gray-800/60 text-gray-600" >W</div>
        <div class="w-8 h-8 rounded flex items-center justify-center text-sm bg-gray-800/60 text-gray-600">T</div>
        <div class="w-8 h-8 rounded flex items-center justify-center text-sm bg-gray-800/60 text-gray-600">F</div>
        <div class="w-8 h-8 rounded flex items-center justify-center text-sm bg-gray-800/60 text-gray-600">S</div>
    </div>

</div>