<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="bg-[url('/public/background.png')] bg-cover bg-no-repeat bg-scroll text-white py-10 px-2 max-w-screen-xl mx-auto">
    
    <%- include('partials/navigation') %>

    <div class="mt-8">

        <h2 class="flex items-center mb-4 text-white">
            <i data-feather="hash" class="mr-2"></i>
            Popular Courses
        </h2>

        <div class="flex gap-4 min-h-96 w-full flex-wrap">

            <% for (const element of courses) { %>
                <%- include('partials/enroll', { element }) %>
            <% } %>

        </div>

    </div>

    <%- include('partials/footer') %>
    
    <script>
        feather.replace();
    </script>

</body>
</html>