<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FocusLearn</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body class="bg-zinc-50 text-zinc-800 p-10">
    
    <h1 class="text-4xl font-semibold">FocusLearn</h1>
    <p class="mt-1 text-indigo-600">Master Your Skills, Fuel Your Passion, and Get Certified!</p>

</body>
</html>