<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FocusLearn</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body class="bg-zinc-50 text-zinc-800 p-10">
    
    <h1>FocusLearn</h1>
    <p>Master Your Skills, Fuel Your Passion, and Get Certified!</p>
    <%- include('partials/links') %>
    

    <div class="space-y-2 my-10">

        <p>BUTTON : &lt;button class="pink"&gt;Something&lt;/button&gt;</p>

        <div class="flex gap-4">

            <button class="border font border-black bg-rose-300 px-6 py-3 transition duration-100 hover:ring-4 hover:ring-rose-200">Rose</button>
            <button class="border font border-black bg-lime-300 px-6 py-3 transition duration-100 hover:ring-4 hover:ring-lime-200">Lime</button>
            <button class="border font border-black bg-indigo-300 px-6 py-3 transition duration-100 hover:ring-4 hover:ring-indigo-200">Indigo</button>
            <button class="border font border-black bg-gray-300 px-6 py-3 transition duration-100 hover:ring-4 hover:ring-gray-200">Gray</button>
            <button class="border font border-black bg-amber-300 px-6 py-3  transition duration-100 hover:ring-4 hover:ring-amber-200">Amber</button>
            <button class="border font border-black bg-green-400 px-6 py-3  transition duration-100 hover:ring-4 hover:ring-green-200">Green</button>
        
        </div>

    </div>

    <div class="space-y-2 my-10">

        <p>INPUT : &lt;button class="pink"&gt;Something&lt;/button&gt;</p>

        <div class="flex gap-4">

            <label class="flex justify-between items-center bg-white px-2 border border-black focus-within:ring-4 focus-within:ring-red-200">
                <i data-feather="user" class="w-4 h-4"></i>
                <input type="text" class="p-2 outline-none" placeholder="Invalid">
            </label>

            <label class="flex justify-between items-center bg-white px-2 border border-black focus-within:ring-4 focus-within:ring-green-200">
                <i data-feather="user" class="w-4 h-4"></i>
                <input type="text" class="p-2 outline-none" placeholder="Valid">
            </label>

        </div>

    </div>

    <script>
        feather.replace();
    </script>

</body>
</html>