<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="bg-zinc-50 text-zinc-800 p-10">
    
    <%- include('partials/links') %>
    <%- include('partials/feedback') %>
    <%- include('partials/search', { query: '' }) %>
    

    
    <script>
        feather.replace();
    </script>

</body>
</html>