<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="bg-[url('/public/background.png')] bg-cover bg-no-repeat bg-scroll text-white py-10 px-2 max-w-screen-xl mx-auto">
    
        <!-- Navbar -->
        <%- include('partials/navigation') %>

        <!-- 404 Content -->
        <div class="text-center mt-20 h-96 flex items-center justify-center flex-col">
            <h1 class="text-6xl font-bold text-gray-100 leading-none">404</h1>
            <h2 class="text-4xl font-semibold text-gray-200 mt-2 mb-6">Page not found</h2>
            <p class="text-lg text-gray-200 mb-16 max-w-4xl mx-auto">The link you clicked may be broken or the page may have been removed or renamed.</p>
            <button class="mt-6 px-6 py-2 bg-blue-600 text-white rounded font-medium hover:bg-blue-600 flex items-center justify-center mx-auto transition duration-300">
                <i class="fa-solid fa-arrow-left m-1"></i>  Go back
            </button>
        </div>

        <%- include('partials/footer') %>

</body>
</html>