<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FocusLearn | Sign In</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body class="bg-zinc-50 text-zinc-800 p-10">
    
    <h1>FocusLearn</h1>
    <p>Master Your Skills, Fuel Your Passion, and Get Certified!</p>
    <%- include('partials/links') %>

    <form class="my-6 space-y-4" action="/signup" method="post">

        <div>
            <label for="fullName" class="form-label">Full Name</label>
            <input type="text" class="input" placeholder="John Doe">
        </div>
        <div>
            <label>Email Address</label>
            <input type="email" class="input" placeholder="johndoe@example.com">
        </div>
        <div>
            <label>Password</label>
            <input type="password" class="input" placeholder=".........">
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>

    </form>

</body>
</html>